* {
	font-family: "Dancing Script", cursive;
}
body {
			
			height: 600px;
			width: 100%;
			background-color: gray;
			
		}
		header, footer{
			text-align: center;
			height: 30px;
			position: absolute;
			width: 100%;
			
		}
		header {
			background-color: blue;
			padding: 5px;
			margin-bottom: 100px;
			position: relative;
		}

		footer {		
			background-color: red;
			margin-top: 100px;
		}
		div {
			margin: auto;
			border: 1px solid;
			height: 300px;
			width: 300px;
			background-color:blue;
			position: relative;
			margin-top: 100px;
			transform: rotate(10deg);
			font-family: "Dancing Script", cursive;
		}
		#btn {
			background-color:greenyellow;
		}
		button {
			float: right;
			margin: 5px;
		}